@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto max-w-[80rem] w-full;
}

.header.active {
  @apply shadow-3xl duration-[.5s];
}

.header.open {
  @apply block bg-[#2c2c32] text-white w-[100%] z-[9999] top-0 left-0 fixed h-[25.8rem] overflow-y-auto ease-in-out duration-[1.3s];
}

.header__navi.open {
  @apply flex flex-col h-[0vh] left-0 top-[100%];
}

.header__ul.open {
  @apply absolute;
}

.header li:first-child {
  @apply sm:pt-[1rem] lg:pt-0;
}

.header li {
  @apply pl-0;
}

.platform::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #25252b;
  top: -8px;
  right: 10px;
}

.number::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 8px solid white;
  top: 3px;
  left: -5px;
}

.features__content__item:nth-child(odd) {
  @apply bg-[#ffff];
}

.features__content__item:nth-child(even) {
  @apply bg-[#f5f5f5];
}

.features__item img {
  @apply w-[18rem] mt-10 mx-auto lg:w-[750px] md:w-[900px] lmd:w-[800px] lsm:w-[370px];
}

.features__item {
  @apply mb-10 pt-4 pb-10 lg:flex lg:items-center lg:justify-between lmd:flex lmd:items-center md:flex md:items-center md:gap-[100px] lmd:gap-[100px] lsm:py-0 lmd:pt-[54px] lmd:pb-[35px] md:pt-0 md:pb-0 mx-auto max-w-[80rem] w-full;
}

.features__content__item {
  @apply gap-10 sm:px-[20px];
}

.features_disc {
  @apply lmd:ml-[1%];
}

.features_disc h3 {
  @apply text-[1.25rem] font-thin mb-10 lmd:text-[27px] lg:text-[32px];
}

.features_disc p {
  @apply leading-[2rem] lg:text-[20px];
}

.language__item p {
  @apply flex lg:text-[20px] text-[17px];
}

.slider__item img {
  @apply max-w-[65px] rounded-full lg:max-w-[80px];
}

.slider__divider {
  @apply lg:!inline-flex;
}

.slider__username p {
  @apply lg:text-[14px];
}

.tns-outer {
  @apply relative;
}

.tns-controls {
  @apply flex items-center justify-between absolute sm:top-[14rem] sm:w-[30rem] sm:left-[-2rem] lg:top-[5rem] lg:left-[-2.5rem] lg:w-[80rem] lmd:top-[10rem] lmd:w-[45rem] lmd:left-[-2.5rem] lsm:w-[38rem] lsm:left-[-2rem] lsm:top-[15rem] md:w-[52rem] md:left-[-2rem];
}

.tns-button {
  @apply text-[2rem];
}

.tns-nav {
  @apply hidden;
}

.banner__download__button {
  @apply relative px-[1rem];
}

.banner__dropdown {
  @apply hidden border-[#0066b8] absolute z-[8888] sm:top-[21.2rem] sm:left-[116.5px] lmd:top-[322.4px] lmd:left-[223.7px] md:left-[334px] lg:top-[445px] lg:border-[.15rem] lg:left-[430px] lsm:left-[163.8px];
}

.banner__dropdown.open {
  @apply block;
}

.banner_dropdown td {
  @apply border-b-[1px] border-[#adacac];
}
